.vscode/launch.json
.vscode/tasks.json
bin/Debug/netcoreapp2.2/todoApi.deps.json
bin/Debug/netcoreapp2.2/todoApi.dll
bin/Debug/netcoreapp2.2/todoApi.pdb
bin/Debug/netcoreapp2.2/todoApi.runtimeconfig.dev.json
bin/Debug/netcoreapp2.2/todoApi.runtimeconfig.json
obj/project.assets.json
obj/todoApi.csproj.EntityFrameworkCore.targets
obj/todoApi.csproj.nuget.cache
obj/todoApi.csproj.nuget.g.props
obj/todoApi.csproj.nuget.g.targets
obj/Debug/netcoreapp2.2/project.razor.json
obj/Debug/netcoreapp2.2/todoApi.AssemblyInfo.cs
obj/Debug/netcoreapp2.2/todoApi.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.2/todoApi.assets.cache
obj/Debug/netcoreapp2.2/todoApi.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.2/todoApi.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.2/todoApi.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.2/todoApi.dll
obj/Debug/netcoreapp2.2/todoApi.pdb
obj/Debug/netcoreapp2.2/todoApi.RazorAssemblyInfo.cache
obj/Debug/netcoreapp2.2/todoApi.RazorAssemblyInfo.cs
obj/Debug/netcoreapp2.2/todoApi.RazorTargetAssemblyInfo.cache
